<div class="contact-form spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact__form__title">
                    <h2>Giriş Yap</h2>
                </div>
            </div>
        </div>
        <form class="pt-3"  action="/login" method="post">
            <div class="row" style="justify-content: center;">
                <div class="col-lg-6">
                    <input type="text" name="kullaniciAdi" id="kullaniciAdi" placeholder="Kullanıcı Adı">
                </div>
            </div>
            <div class="row" style="justify-content: center;">
                <div class="col-lg-6">
                    <input type="text" name="sifre" id="sifre"  placeholder="Şifre">
                </div>
            </div>
            <div class="row" style="justify-content: center;">
                <div class="col-lg-12 text-center">
                    <button type="submit" class="site-btn">Giriş Yap</button>
                </div>
            </div>
          
        </form>
    </div>
</div>